### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dic={"name":"Ajinkya","age":24,"city":"kolhapur"}
dic

{'name': 'Ajinkya', 'age': 24, 'city': 'kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [2]:
dic={"name":"Ajinkya","age":24,"city":"kolhapur"}
dic["city"]

'kolhapur'

### 3. Create a list of 5 numbers and print the second element.

In [4]:
lst=[10,22,34,54,56]
lst[1]

22

### 4. Add an element "banana" to an existing list.

In [5]:
lst=[10,22,34,54,56]
lst.append("banana")
lst

[10, 22, 34, 54, 56, 'banana']

### 5. Insert "apple" at index 2 in a list.

In [6]:
lst=[10,22,34,54,56]
lst.insert(2,"apple")
lst

[10, 22, 'apple', 34, 54, 56]

### 6. Remove the element 10 from a list.

In [10]:
lst=[10,22,34,54,56]
lst.remove(10)
lst

[22, 34, 54, 56]

### 7. Create a tuple with 4 elements and print the last one.

In [11]:
tupl=("sumedh","aniket","sham","ruturaj")
tupl[-1]

'ruturaj'

### 8. Convert a tuple into a list.

In [16]:
tupl=("sumedh","aniket","sham","ruturaj")
tupl
lst=list(tupl)
lst

['sumedh', 'aniket', 'sham', 'ruturaj']

### 9. Find the length of a given tuple.

In [17]:
tupl=("sumedh","aniket","sham","ruturaj")
len(tupl)

4

### 10. Store 5 student names in a list and print them using a loop.

In [18]:
lst=["sumedh","aniket","sham","ruturaj","ajinkya"]
for i in lst:
    print(i)

sumedh
aniket
sham
ruturaj
ajinkya

### 11. Create two lists and concatenate them.

In [11]:
lst1=['abc','xyz']
print(lst1)
lst2=['aaa','bbb']
print(lst2)
lst3=lst1+lst2
lst3

['abc', 'xyz']
['aaa', 'bbb']

['abc', 'xyz', 'aaa', 'bbb']

### 12. Reverse a list without using reverse().

In [6]:
lst1=list(range(1,11))
print(lst1)
lst1[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [7]:
li3=[12,45,5,7,2,23,4,235,6,436,]
print(li3)
li3.sort(reverse=True)
li3

[12, 45, 5, 7, 2, 23, 4, 235, 6, 436]

[436, 235, 45, 23, 12, 7, 6, 5, 4, 2]

### 14. Create a set with 5 numbers and add a new number.

In [12]:
st={1,2,3,4,5}
print(st)
st.add(9)
print(st)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 9}

### 15. Remove an element from a set using discard().

In [15]:
st={1,2,3,4,5}
print(st)
st.discard(1)
st

{1, 2, 3, 4, 5}

{2, 3, 4, 5}

### 16. Find the union of two sets.

In [17]:
st1={1,2,3,4,5}
st2={6,7,8,9}
print(st1,st2)
st3=st1|st2
st3

{1, 2, 3, 4, 5} {8, 9, 6, 7}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 17. Find the intersection of two sets.

In [18]:
st1={1,2,3,4,5}
st2={3,5,8,9}
print(st1,st2)
st3=st1 & st2
st3

{1, 2, 3, 4, 5} {8, 9, 3, 5}

{3, 5}

### 18. Check if a value exists in a set.

In [20]:
st1={1,2,3,4,5}
print(st1)
4 in st1

{1, 2, 3, 4, 5}

True

### 19. Create a set and clear all elements.

In [23]:
st1={1,2,3,4,5}
print(st1)
st1.clear()
st1

{1, 2, 3, 4, 5}

set()

### 20. Convert a list with duplicate values into a set.

In [24]:
lst=[1,2,3,44,5,2,2,7,44]
st1=set(lst)
st1

{1, 2, 3, 5, 7, 44}

### 21. Create a dictionary and update the value of a key.

In [28]:
dic={"name":"Ajinkya","age":24,"city":"kolhapur"}
print(dic)
dic.update({"food":"biryani"})
dic

{'name': 'Ajinkya', 'age': 24, 'city': 'kolhapur'}

{'name': 'Ajinkya', 'age': 24, 'city': 'kolhapur', 'food': 'biryani'}

### 22. Delete a key-value pair from a dictionary.

In [30]:
dic={"name":"Ajinkya","age":24,"city":"kolhapur"}
print(dic)
del dic["city"]
dic

{'name': 'Ajinkya', 'age': 24, 'city': 'kolhapur'}

{'name': 'Ajinkya', 'age': 24}

### 23. Print all keys of a dictionary.

In [32]:
dic={"name":"Ajinkya","age":24,"city":"kolhapur"}
dic.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [33]:
dic={"name":"Ajinkya","age":24,"city":"kolhapur"}
dic.values()

dict_values(['Ajinkya', 24, 'kolhapur'])

### 25. Loop through a dictionary and print key and value.

In [34]:
di1={i:i*i for i in range(1,6)}
for k,v in di1.items():
    print(k,v)

1 1
2 4
3 9
4 16
5 25

### 26. Create a list of numbers and print only even numbers.

In [35]:
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8

### 27. Create a tuple and unpack it into 3 variables.

In [36]:
st1=('AJ',25,'kop')
print(st1)
name,age,city=st1
print('Name-',name)
print('Age- ',age)
print('City-',city)

('AJ', 25, 'kop')
Name- AJ
Age-  25
City- kop

### 28. Check if a number is greater than 10 using a comparison operator.

In [38]:
num=int(input("Enter any number-"))
if num>10:
    print("Number is greater than 10")
else:
    print("NUmber is smaller than 10")

NUmber is smaller than 10

### 29. Use the in operator to check if "python" exists in a list.

In [40]:
lst=["a","b","python"]
print(lst)
"python" in lst

['a', 'b', 'python']

True

### 30. Use the and operator in a condition.

In [41]:
lst=["a","b","python"]
print(lst)
"python" and "a" in lst

['a', 'b', 'python']

True

### 31. Use the % operator to check if a number is divisible by 5.

In [44]:
num=int(input("Enter any number"))
if num%5==0:
    print("Number is divisible by 5")
else:
    print("Number is not divisible by 5")

Number is divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [47]:
print(9**2)

81

### 33. Create two numbers and compare them using >=.

In [48]:
a=23
b=13
a>=b

True

### 34. Create a list and remove the last element using pop().

In [50]:
lst=["a","b","python"]
print(lst)
lst.pop()
lst

['a', 'b', 'python']

['a', 'b']

### 35. Create a list and print its first and last elements.

In [52]:
lst=[1,2,3,4,5,6,7,8,9]
print(lst)
print("First element", lst[0])
print("Last element", lst[-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
First element 1
Last element 9

### 36. Count how many times "apple" appears in a list.

In [53]:
lst=['apple','mango','apple']
lst.count('apple')

2

### 37. Create a tuple and check if a value exists using in.

In [ ]:
tpl=("aaa","bbb","ccc","ddd")
"ccc" in tpl

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [3]:
di1={i:i*i for i in range(1,6)}
print(di1)
li1=list(di1.values())
print(li1)
type(li1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[1, 4, 9, 16, 25]

list

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [5]:
class_records = {
    "Alice Johnson": {
        "Mathematics": 92,
        "Science": 88,
        "History": 79
    },
    "Bob Smith": {
        "Mathematics": 85,
        "Science": 91,
        "History": 83
    },
    "Charlie Brown": {
        "Mathematics": 78,
        "Science": 80,
        "History": 75
    }
}
class_records

{'Alice Johnson': {'Mathematics': 92, 'Science': 88, 'History': 79},
 'Bob Smith': {'Mathematics': 85, 'Science': 91, 'History': 83},
 'Charlie Brown': {'Mathematics': 78, 'Science': 80, 'History': 75}}

### 40. Merge two dictionaries into one.

In [8]:
dic1={"name":"ajinkya","subject":"science","marks":95}
dic2={"city":"kolhapur","class":10}
print(dic1)
print(dic2)
dic3=dic1|dic2
dic3

{'name': 'ajinkya', 'subject': 'science', 'marks': 95}
{'city': 'kolhapur', 'class': 10}

{'name': 'ajinkya',
 'subject': 'science',
 'marks': 95,
 'city': 'kolhapur',
 'class': 10}

### 41. Create a set and print the number of elements.

In [9]:
st={1,2,3,4,5,6,7,8}
len(st)

8

### 42. Create a dictionary and print all items using items().

In [10]:
dic1={"name":"ajinkya","subject":"science","marks":95}
dic1.items()

dict_items([('name', 'ajinkya'), ('subject', 'science'), ('marks', 95)])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [12]:
lst=list(range(1,11))
print(lst)
for i in lst:
    print(i,i*i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

### 44. Multiply two numbers and print the result using *.

In [13]:
n1=23
n2=13
n1*n2

299

### 45. Divide two numbers and print the results using / and //.

In [15]:
n1=40
n2=3
print(n1/n2)
print(n1//n2)

13.333333333333334
13

### 46. Create a list and replace the element at index 1.

In [17]:
lst=[22,11,90,44,55,43]
print(lst)
lst[1]=99
lst

[22, 11, 90, 44, 55, 43]

[22, 99, 90, 44, 55, 43]

### 47. Create a tuple from user input (3 values).

In [19]:
print("Enter the first value:")
value1 = input()
print("Enter the second value:")
value2 = input()
print("Enter the third value:")
value3 = input()
user_tuple = (value1, value2, value3)
print("\n--- Result ---")
print(f"The created tuple is: {user_tuple}")
print(f"The type of the variable is: {type(user_tuple)}")

Enter the first value:
Enter the second value:
Enter the third value:

--- Result ---
The created tuple is: ('aj', 'cricket', 'true')
The type of the variable is: <class 'tuple'>

### 48. Create a set from a string and print all unique characters.

In [20]:
st='Ajinkya Patil'
st1=set(st)
st1

{' ', 'A', 'P', 'a', 'i', 'j', 'k', 'l', 'n', 't', 'y'}

### 49. Use the is operator to compare two variables.

In [21]:
a=9
b=9
a is b

True

### 50. Create a dictionary and check if a key exists using in.

In [27]:
dic1={"name":"ajinkya","subject":"science","marks":95}
"marks" in dic1

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [31]:
num=int(input("Enter any number-"))
num>10 and num<50

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [32]:
num=int(input("Enter any number-"))
num<5 or num>20

True

### 53. Use not to check if a list is not empty.

In [4]:
lst=[1,2,3,4,5,6,7,8,9]
if not lst==0:
    print("list is not empty")
else:
    print("list is empty")

list is not empty

### 54. Write code to check if a character is a vowel using or.

In [33]:
a="i"
a=="a" or a=="e" or a=="i" or a=="o" or a=="u"

True

### 55. Check if a dictionary has both keys "name" and "age".

In [34]:
dic1={"name":"ajinkya","subject":"science","marks":95,"age": 24}
"name" and "age" in dic1

True

### 56. Verify if a set contains either 10 or 20.

In [2]:
st={10,30,40,20,50}
if 10 in st or 20 in st:
    print("present in set")

present in set

### 57. Use not to check if a number is not equal to 100.

In [3]:
num=108
if not num==100:
    print("not equal to 100")
else:
    print("equal to 100")

not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [5]:
st={"name":"sham","marks":90,"attendance":95}
if st ["marks"]>35 and st ["attendance"]>75:
    print("student passed")
else:
    print("student failed")

student passed

### 59. Use logical operators to check if a number is positive and even.

In [9]:
num=10
if num%2==0 and num>0:
    print("number is positive and even")
else:
    print("number is not positive and even")

number is positive and even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [10]:
tpl=(1,2,3,4,5,0)
len(tpl)>3 or 0 in tpl

True