# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [1]:
lst=[1,2,3,4,5]
lst.append(9)
lst

[1, 2, 3, 4, 5, 9]

2. Make a list of fruits and insert a fruit at the second position.

In [2]:
lst=["apple","guava","mango","orange"]
lst.insert(1,"grapes")
lst

['apple', 'grapes', 'guava', 'mango', 'orange']

3. Create a list of names and remove one name from the list.

In [4]:
lst=["sumedh","hemant","sourabh","kedar","daaku"]
print(lst)
lst.remove("daaku")
lst

['sumedh', 'hemant', 'sourabh', 'kedar', 'daaku']

['sumedh', 'hemant', 'sourabh', 'kedar']

4. Create a list of 4 items and change the value at index 2.

In [9]:
items=['aaa','bbb','ccc','ddd']
print(items)
items[2]='xyz'
items

['aaa', 'bbb', 'ccc', 'ddd']

['aaa', 'bbb', 'xyz', 'ddd']

5. Make a list of numbers and print only the first three elements.

In [11]:
num=[10,20,30,40,50,60] 
print(num)
num[:3]

[10, 20, 30, 40, 50, 60]

[10, 20, 30]

6. Create a list of colors and find the index of a specific color.

In [13]:
colors=['blue','orange','green','yellow']
print(colors)
colors.index('green')

['blue', 'orange', 'green', 'yellow']

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [16]:
num=[1,5,23,13,5,5,27,21,6,5,9,5,8,5]
num.count(5)

6

8. Make a list of 6 items and delete the item at index 3.

In [20]:
lst=['jaguar','audi','range rover','bmw']
print(lst)
lst.pop(1)
lst

['jaguar', 'audi', 'range rover', 'bmw']

['jaguar', 'range rover', 'bmw']

9. Create a list of animals and add three more animals using extend().

In [24]:
animals1=['lion','tiger','elephant']
print(animals1)
animals2=['leopard','bison','cheetah']
print(animals2)
animals2.extend(animals1)
print(animals2)

['lion', 'tiger', 'elephant']
['leopard', 'bison', 'cheetah']
['leopard', 'bison', 'cheetah', 'lion', 'tiger', 'elephant']

10. Create a list and remove the last item using pop().

In [26]:
items=['a','b','c','d']
print(items)
items.pop(3)
items

['a', 'b', 'c', 'd']

['a', 'b', 'c']

11. Create a list of prices and sort them in ascending order.

In [28]:
lst=[1323,300,45,553,63536,1000]
print(lst)
lst.sort()
lst

[1323, 300, 45, 553, 63536, 1000]

[45, 300, 553, 1000, 1323, 63536]

12. Make a list of countries and reverse the order of the list.

In [30]:
countries=["india","australia","newzealand","america"]
print(countries)
countries.reverse()
countries

['india', 'australia', 'newzealand', 'america']

['america', 'newzealand', 'australia', 'india']

13. Create a list of words and check if “apple” is in the list.

In [31]:
fruits=['apple','guava','bluberry','mango','grapes','coconut']
"apple"in fruits

True

14. Create a list of numbers and print the largest and smallest number.

In [33]:
prices=[10000,232,53,9999,2324,3646,444]
print(prices)
print('max-',max(prices))
print('min-',min(prices))

[10000, 232, 53, 9999, 2324, 3646, 444]
max- 10000
min- 53

15. Make a list of 5 items and print each item using a loop.

In [36]:
lst=[1,2,3,4,5]
print(lst)
for i in lst:
    print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

16. Create two lists and combine them into one list.

In [39]:
lst1=['car','avengers','bikes']
print(lst1)
lst2=['cricket','football','carrom']
print(lst2)
lst3=lst1+lst2
print(lst3)

['car', 'avengers', 'bikes']
['cricket', 'football', 'carrom']
['car', 'avengers', 'bikes', 'cricket', 'football', 'carrom']

17. Make a list and replace the last item with a new value.

In [41]:
lst=['a','b','c','d','e','f']
print(lst)
lst[-1]='z'
lst

['a', 'b', 'c', 'd', 'e', 'f']

['a', 'b', 'c', 'd', 'e', 'z']

18. Create a list of numbers and print only the even numbers.

In [44]:
lst=[1,2,3,4,5,6,7,8,9,10]
even=[]
print(lst)
for i in lst:
    if i%2==0:
        even.append(i)
even

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 4, 6, 8, 10]

19. Create a list and clear all items from the list.

In [46]:
items=['aaa','bbb','ccc','ddd']
print(items)
items.clear()
items

['aaa', 'bbb', 'ccc', 'ddd']

[]

20. Create a list of 5 values and copy it into another list.

In [48]:
lst=['a','b','c','d','e','f']
print(lst)
lst2=lst.copy()
lst2

['a', 'b', 'c', 'd', 'e', 'f']

['a', 'b', 'c', 'd', 'e', 'f']