# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dic={"name":"John","age":24,"city":"pune"}
dic

{'name': 'John', 'age': 24, 'city': 'pune'}

2. Create a dictionary and print the value of a specific key.

In [2]:
dic={"name":"John","age":24,"city":"pune"}
dic["city"]

'pune'

3. Make a dictionary and add a new key-value pair to it.

In [3]:
dic={"name":"John","age":24,"city":"pune"}
dic["game"]="cricket"
dic

{'name': 'John', 'age': 24, 'city': 'pune', 'game': 'cricket'}

4. Create a dictionary and change the value of an existing key.

In [4]:
dic={"name":"John","age":24,"city":"pune"}
dic["name"]="rohit"
dic

{'name': 'rohit', 'age': 24, 'city': 'pune'}

5. Create a dictionary and remove one key using pop().

In [5]:
dic={"name":"John","age":24,"city":"pune"}
dic.pop("age")
dic

{'name': 'John', 'city': 'pune'}

6. Create a dictionary and remove the last inserted item using popitem().

In [11]:
dic={i:i*i for i in range (1,9)}
print(dic)
dic.popitem()
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

7. Create a dictionary and print all the keys.

In [13]:
dic={"name":"sumedh","village":"kaulav"}
dic.keys()

dict_keys(['name', 'village'])

8. Create a dictionary and print all the values.

In [14]:
dic={"name":"sumedh","village":"kaulav"}
dic.values()

dict_values(['sumedh', 'kaulav'])

9. Create a dictionary and print all the key-value items.

In [16]:
dic={"name":"John","age":24,"city":"pune"}
for key,val in dic.items():
    print(key,val)

name John
age 24
city pune

10. Make a dictionary and check the number of items using len().

In [1]:
dic={"name":"John","age":24,"city":"pune"}
len(dic)

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [2]:
dic={"name":"John","age":24,"city":"pune"}
"name" in dic

True

12. Create an empty dictionary and add two key-value pairs one by one.

In [3]:
dic={}
dic["name"]="sumedh"
dic["age"]=24
dic

{'name': 'sumedh', 'age': 24}

13. Create a dictionary and update one keyâ€™s value using update().

In [7]:
dic={"name":"John","age":24,"city":"pune"}
dic.update({"village":"kaulav"})
dic

{'name': 'John', 'age': 24, 'city': 'pune', 'village': 'kaulav'}

14. Create two dictionaries and combine them using update().

In [8]:
dict1 = { "name": "Ajinkya", "age": 22}

dict2 = {"city": "Pune", "country": "India"}

dict1.update(dict2)

print(dict1)

{'name': 'Ajinkya', 'age': 22, 'city': 'Pune', 'country': 'India'}

15. Make a dictionary and get the value of a key using get().

In [14]:
dict = {"city": "Pune", "country": "India"}
print(dict.get("country"))

India

16. Create a dictionary and print its type using type().

In [15]:
dict = {"city": "Pune", "country": "India"}
type(dict)

dict

17. Create a dictionary and replace one value with a new one.

In [16]:
dict = {"city": "Pune", "country": "India"}
dict["city"]="kolhapur"
dict

{'city': 'kolhapur', 'country': 'India'}

18. Create a dictionary and clear all items using clear().

In [17]:
dict = {"city": "Pune", "country": "India"}
dict.clear()
dict

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [18]:
dict = {1: "Pune", 2: "India"}
dict

{1: 'Pune', 2: 'India'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [19]:
dict1 = {"city": "Pune", "country": "India"}
dict=dict1.copy()
dict

{'city': 'Pune', 'country': 'India'}