### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [2]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [3]:
string="python"
for i in string:
    print(i)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [4]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [5]:
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [16]:
sum=0
for i in range(51):
    sum+=i
print("Sum of numbers from 1 to 50= ",sum)

Sum of numbers from 1 to 50=  1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [9]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [10]:
for i in range(1,11):
    print(7*i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [14]:
count=0
vowel='aeiou'
string='education'
for i in string:
    if i in vowel:
        count+=1
print("Total vowel in string= ",count)

Total vowel in string=  5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [18]:
for i in range(1,31):
    if i%2!=0:
     print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [19]:
string="ABCwesfsG"
count=0
for i in string:
    if i.isupper():
        count+=1
print("total number of uppercase letters in string are-",count)

total number of uppercase letters in string are- 4

### 12. Create a new list that contains only the positive numbers from another list

In [1]:
ls=[1,2,-4,1,-2,-4,-5,12,4]
lsp=[i for i in ls if i>=0]
lsp

[1, 2, 1, 12, 4]

### 13. Print numbers from 1 to 10 using a while loop

In [3]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [5]:
i=1
while i<=10:
 print(5*i)
 i+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [6]:
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [8]:
i=1
while i==0:
    i=int(input("Enter a number-"))

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [1]:
i=1
sum=0
while i<=10:
    sum+=i
    i+=1
print("Sum of first 10 natural numbers= ",sum)

Sum of first 10 natural numbers=  55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [4]:
fruits={"apple":300,"mango":200,"banana":60,"guava":100}
print(fruits)
for i in fruits.keys():
    print(i)

{'apple': 300, 'mango': 200, 'banana': 60, 'guava': 100}
apple
mango
banana
guava

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [5]:
fruits={"apple":300,"mango":200,"banana":60,"guava":100}
print(fruits)
for i in fruits.values():
    print(i)

{'apple': 300, 'mango': 200, 'banana': 60, 'guava': 100}
300
200
60
100

### 20. Print both keys and values of a dictionary using a for loop

In [ ]:
fruits={"apple":300,"mango":200,"banana":60,"guava":100}
print(fruits)
for  key,val in fruits.items():
    print(key,val)

{'apple': 300, 'mango': 200, 'banana': 60, 'guava': 100}
apple 300
mango 200
banana 60
guava 100

### 21. Count how many keys are in a dictionary using a for loop

In [ ]:
count=0
for i in fruits.keys():
    count+=1
    print(count)

1
2
3
4

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [12]:
fruits={"apple":300,"mango":200,"banana":60,"guava":100}
for i in fruits.keys():
    if "a" in i[0]:
     print(i)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [13]:
dic={"sumedh":99,"ajinkya":80,"ruturaj":95}
for key,val in dic.items():
    if val>80:
        print(key)

sumedh
ruturaj

### 24. Given a dictionary, print the sum of all the values using a for loop

In [18]:
dic={"sumedh":99,"ajinkya":80,"ruturaj":95}
sum=0
for i in dic.values():
    sum+=i
sum

274

### 25. Given a dictionary, find the key with the highest value using a for loop

In [21]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
max='jkl'
for key,val in stu.items():
    if val>stu[max]:
        max=key
stu[max]

90

### 26. Convert all dictionary keys into a list using a for loop

In [22]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
ls=[]
for i in stu.keys():
    ls.append(i)
ls

['abc', 'def', 'ghi', 'jkl']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [1]:
lst=["sumedh","ruturaj","ajinkya","aniket"]
dic1={}
for i in lst:
    dic1[i]=len(i)
dic1

{'sumedh': 6, 'ruturaj': 7, 'ajinkya': 7, 'aniket': 6}

### 28. Given a list of numbers, print only numbers greater than 10

In [2]:
lst=[1,2,23,13,4,9,]
for i in lst:
    if i>10:
        print(i)

23
13

### 29. Count how many elements in a list are integers using a for loop

In [8]:
lst=[1,2,"sumedh",4,"ajinkya"]
count=0
for i in lst:
    if isinstance(i,int):
        count+=1
count

3

### 30. Print the sum of all even numbers in a list using a for loop

In [11]:
lst=[1,2,3,4,5,6,7,8,9]
sum=0
for i in lst:
    if i%2==0:
        sum+=i
sum

20

### 31. Print the cube of each number in a list of 5 numbers

In [12]:
lst=[1,2,3,4,5]
for i in lst:
 print(i**3)

1
8
27
64
125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [22]:
string='Python is fun'
p=''
for i in string:
    if i==' ':
        print(p)
        p=''
    else:
        p+=i
print(p)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [1]:
for i in range(1,6):
    print(i*3)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [2]:
lst=["Sumedh","Ajinkya"]
for i in lst:
    if i[0]=="A":
        print(i)

Ajinkya

In [3]:
lst=["Sumedh","Ajinkya"]
for i in lst:
    if i.startswith("A"):
        print(i)

Ajinkya

### 35. Find the largest number in a list using a for loop

In [9]:
lst=[10,36,83,44,9]
max=0
for i in lst:
    if i>max:
        max=i
print(max)

83

### 36. Print the index and value of each element in a list

In [10]:
lst=[10,36,83,44,9]
for i in range(len(lst)):
    print(f"{i}   {lst[i]}" )

0   10
1   36
2   83
3   44
4   9

### 37. Create a dictionary with 5 students and their marks

In [ ]:
stud={"sumedh":99,"ajinkya":95,"ruturaj":93,"aniket":90,"sham":88}
for i,j in stud.items():
    print(i,j)

sumedh 99
ajinkya 95
ruturaj 93
aniket 90
sham 88

### 38. Use a for loop to print all student names

In [13]:
stud={"sumedh":99,"ajinkya":95,"ruturaj":93,"aniket":90,"sham":88}
for i in stud.keys():
    print(i)

sumedh
ajinkya
ruturaj
aniket
sham

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [14]:
fruits={"apple":99,"mango":95,"grapes":93,"guava":90,"cherry":88}
for i,j in fruits.items():
    print(i,j)

apple 99
mango 95
grapes 93
guava 90
cherry 88

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [15]:
fruits={"apple":99,"mango":95,"grapes":93,"guava":90,"cherry":88}
for i in fruits.keys():
    fruits[i]=fruits[i]+(fruits[i]*0.1)
fruits

{'apple': 108.9,
 'mango': 104.5,
 'grapes': 102.3,
 'guava': 99.0,
 'cherry': 96.8}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [21]:
fruits={"apple":99,"mango":95,"grapes":40,"guava":30,"cherry":88,"pineapple":20,"fig":15,"coconut":10}
for i in list(fruits.keys()):
    if fruits[i]<50:
        fruits.pop(i)
print(fruits)

{'apple': 99, 'mango': 95, 'cherry': 88}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [22]:
stud={"english":99,"science":95,"maths":93}
stud["history"]=100
for key,val in stud.items():
    print(key,val)

english 99
science 95
maths 93
history 100

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [24]:
stud={"sumedh":99,"ajinkya":95,"ruturaj":93,"aniket":90,"sham":88}
for i in stud.keys():
    stud[i]=stud[i]+1
print(stud)

{'sumedh': 100, 'ajinkya': 96, 'ruturaj': 94, 'aniket': 91, 'sham': 89}

### 44. Print numbers from 0 to 9 using range()

In [26]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [27]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [31]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [35]:
lst=[1,2,3,4,5,6,7,8,9]
len(lst)

9

### 48. Print the length of a given string using len()

In [36]:
string="Ajinkya"
len(string)

7

### 49. Use range() and len() to iterate over a list by index and print each element

In [38]:
lst=[1,12,23,34,56,676,99,85]
for i in range(len(lst)):
    print(lst[i])

1
12
23
34
56
676
99
85

### 50. Print the sum of numbers from 1 to 100 using range()

In [39]:
sum=0
for i in range(1,101):
    sum+=i
print(sum)

5050