# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [4]:
# Write your answer here
ls=[[1,2,3],[4,5],[6,7,8,9]]
for i in ls:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [6]:
# Write your answer here
lst=[[10,20],[30],[5,7,8]]
sum=0
for i in lst:
    for j in i:
        sum+=j
print(sum)

80

## **3. Count how many even numbers are present in a nested list.**

In [18]:
# Write your answer here
ls=[[1,2,3],[4,5],[6,7,8,9]]

for i in ls:
   for j in i:
         if j%2==0:
            print(j)

2
4
6
8

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [16]:
# Write your answer here
string=[['hello', 'world'], ['python']]
for i in string:
    for j in i:
        if j:
            print(j.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [6]:
# Write your answer here
lst=[[80,90,85],[75,70,65],[88,92,79]]
k=1
for i in lst:
    sum=0
    for j in i:
        sum+=j
    print(f"Student{k}=",sum)
    k+=1

Student1= 255
Student2= 210
Student3= 259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [12]:
# Write your answer here
lst=[[10,90,20],[60,80,15],[83,23,9]]
lst2=[]
for i in lst:
    for j in i:
        if j>50:
            lst2.append(j)
print(lst2)

[90, 60, 80, 83]

## **7. Find the largest number inside a nested list.**

In [18]:
# Write your answer here
lst=[[10,90,20],[60,80,15],[83,23,9]]
max=0
for i in lst:
    for j in i:
        if j>max:
            max=j
print(max)

90

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [22]:
# Write your answer here
lst=[[1,2],[3,4],[5]]
print(lst)
lst1=[]
for i in lst:
    for j in i:
        lst1.append(j)
print(lst1)

[[1, 2], [3, 4], [5]]
[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [29]:
# Write your answer here
lst=[[-1,2,3],[-4,-6,5],[-8,7]]
for i in lst:
    for j in range(len(i)):
         if i[j]<0:
            i[j]=0
lst

[[0, 2, 3], [0, 0, 5], [0, 7]]

## **10. Count how many inner lists exist inside a nested list.**

In [25]:
# Write your answer here
lst=[[1,2],[3,4],[5]]
len(lst)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [41]:
# Write your answer here
dic={
'A':{'age':15,'grade':10},
'B':{'age':16,'grade':11}
}
for i in dic.keys():
    print(i,dic[i]['age'])

A 15
B 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [43]:
# Write your answer here
dic={
'A':{'age':15,'marks':10},
'B':{'age':16,'marks':11}
}
for i in dic.keys():
    for j in i:
        print(dic[j]['marks'])
        dic[j]['marks']=dic[j]['marks']+5
dic

10
11

{'A': {'age': 15, 'marks': 15}, 'B': {'age': 16, 'marks': 16}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [47]:
# Write your answer here
dic={
'A':{'age':15,'grade':10},
'B':{'age':16,'grade':11}
}
for i in dic.keys():
    for j in i:
        print(dic[j].keys())

dict_keys(['age', 'grade'])
dict_keys(['age', 'grade'])

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [48]:
# Write your answer here
dic={
    'A':{'math':85,'science':90},
    'B':{'math':70,'science':88}
}
count=0
for i in dic.keys():
    for j in dic[i].keys():
        if j=='math':
            dic[i][j]>80
            count+=1
count

2

## **15. Create a new dictionary of students whose age is above 15.**

In [56]:
# Write your answer here
dic={
'A':{'age':15,'grade':10},
'B':{'age':16,'grade':11}
}
for i in dic.keys():
    for j in i:
         if dic[i]['age']>15:
            print(i,dic[i])

B {'age': 16, 'grade': 11}

## **16. Find which student scored highest in science.**

In [ ]:
# Write your answer here
dic={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
max='A'
for i in dic.keys():
    if dic[i]['science']>dic[max]['science']:
        max=i
print("Student scored highest in science= ",max)

Student scored highest in science=  A

## **17. Print employees who belong to the HR department from this dictionary.**

In [6]:
# Write your answer here
dic={
  'A': {'dept': 'HR', 'age': 40},
  'B': {'dept': 'Development', 'age': 35},
  'C': {'dept': 'HR', 'age': 32},
}
for i in dic.keys():
        if dic[i]['dept']=='HR':
                print(i,dic[i])

A {'dept': 'HR', 'age': 40}
C {'dept': 'HR', 'age': 32}

## **18. Delete all entries where the status is 'inactive'.**

In [11]:
# Write your answer here
dic={
  'A': {'dept': 'HR', 'sal': 40000,'status':'inactive'},
  'B': {'dept': 'Development', 'sal': 35000,'status':'active'},
  'C': {'dept': 'HR', 'sal': 32000,'status':'inactive'},
  'D': {'dept': 'HR', 'sal': 50000,'status':'active'},
}
for i in list(dic.keys()):
    if dic[i]['status']=='inactive':
        dic.pop(i)
dic

{'B': {'dept': 'Development', 'sal': 35000, 'status': 'active'},
 'D': {'dept': 'HR', 'sal': 50000, 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [15]:
# Write your answer here
stock_data={
  'Apple': {'price': 40000,'quantity':50},
  'Banana': {'price': 35000,'quantity':25},
  'Guava': {'price': 32000,'quantity':90},
  'Jackfruit': { 'price': 50000,'quantity':30},
}
total=0
for i in stock_data.keys():
   total+=stock_data[i]['quantity']
print(total)

195

## **20. Convert all inner dictionary keys to uppercase.**

In [ ]:
# Write your answer here
stock_data={
  'Apple': {'price': 40000,'quantity':50},
  'Banana': {'price': 35000,'quantity':25},
  'Guava': {'price': 32000,'quantity':90},
  'Jackfruit': { 'price': 50000,'quantity':30},
}
for i in list(stock_data.keys()):
    for j in i:
        stock_data[j].
    
   

    print(i)

Apple
Banana
Guava
Jackfruit